@using HeadStart.Client.Components
<MudMenu Class="ml-1" PositionAtCursor="false" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.BottomLeft">
    <ActivatorContent>
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudTooltip Text="@StatusTooltip" Delay="300">
                <div class="avatar-container">
                    @if (true)
                    {
                        <MudAvatar Style="width:35px;height:35px">Selmir</MudAvatar>
                    }
                    else
                    {
                        <MudAvatar Style="width:35px;height:35px">
                            <MudImage Src="userModel.AvatarUrl"></MudImage>
                        </MudAvatar>
                    }
                </div>
            </MudTooltip>
            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText Typo="Typo.body2">userModel?.Nickname</MudText>
                <MudText Typo="Typo.body2" Class="mud-text-secondary">userModel?.Email</MudText>
            </MudStack>
        </MudStack>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem Href="/account/profile">
            <div class="d-flex align-center">
                <MudIcon Class="mr-1" Size="Size.Small"
                         Icon="@Icons.Material.Filled.Person" />
                <MudText Align="Align.Center">@L["Profile"]</MudText>
            </div>
        </MudMenuItem>
        <MudMenuItem Href="/profile/setting">
            <div class="d-flex align-center">
                <MudIcon Class="mr-1" Size="Size.Small"
                         Icon="@Icons.Material.Filled.Settings" />
                <MudText Align="Align.Center">@L["Settings"]</MudText>
            </div>
        </MudMenuItem>

        <MudMenuItem>
            <AuthorizeView>
                <Authorized>
                    <form method="post" action="/api/account/logout" class="my-auto">
                        <AntiForgeryTokenInput />
                        <div class="d-flex align-center">
                            <MudIconButton Class="mr-1" Size="Size.Small"
                                     Icon="@Icons.Material.Filled.Logout"
                                     ButtonType="ButtonType.Submit"
                                     aria-label="Logout"/>
                            <MudText Align="Align.Center">@L["Logout"]</MudText>
                        </div>
                    </form>
                </Authorized>
            </AuthorizeView>
        </MudMenuItem>

    </ChildContent>
</MudMenu>


@code {

    private const string StatusTooltip = "Loading...";
}
